@import "variables";
body {
    .container {
        width: $widthAll;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        #chessBoard {
            margin: auto;
            display: inline-block;
            outline: 2px outset lightGray;
            div {
                line-height: 1px;
                max-height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:first-child {
                    margin-top: 32px;
                    
                }
                &:last-child {
                justify-content:flex-start;
                align-items: flex-start;
            }
                div {
                    display: inline-flex;
                    width: 32px;
                    height: 32px;
                    border-left: 2px outset lightGray;
                    justify-content: center!important;
                    align-items: center!important;
                }
            }
            span {
                display: inline-flex;
                width: 32px;
                height: 32px;
                justify-content: center;
                align-items: center;
                outline: 2px outset lightGray;
                &:first-child {
                    margin-left: 32px;
                    
                }
            }
            div:nth-child(odd) span:nth-child(even),
            div:nth-child(even) span:nth-child(odd) {
                background-color: $colorBlck;
            }
            div:nth-child(even) span:nth-child(even),
            div:nth-child(odd) span:nth-child(odd) {
                background-color: $colorWht;
            }
            div:last-child span {
                background-color: $colorWht!important;
                border-top: 2px outset lightGray;
                outline: none;
            }
            
        }
    }
}