@import "variables";
body {
    .container {
        width: $widthAll;
        background: grey;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}