@import "_variables.scss";
body {
    min-height: 100vh;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
    header {
        grid-area: header;
        padding: auto;
        background-color: $colorAll;
        .container {
            nav {
                margin: auto !important;
            }
        }
    }
    main {
        grid-area: main;
        .container {
            button {
                background-color: $colorAll;
                color: white;
            }
            .card-body {
                span {
                    font-weight: 700 !important;
                }
            }
        }
    }
    footer {
        grid-area: footer;
        padding: auto;
        background-color: $colorAll;
        .container {
            nav {
                div {
                    display: flex;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.2em !important;
                        &:hover {
                            color: deeppink;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}


/*для страничек hometask1-hometask2*/

body {
    main {
        .container {
            padding: 20px;
            section {
                article {
                    span {
                        font-weight: 700 !important;
                    }
                }
            }
        }
    }
}