@import "variables";
body {
    .container {
        width: $widthAll;
        background: grey;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        #catalog {
            div {
                width: $widthAll;
                height: auto;
                border: 1px solid red;
                border-collapse: collapse;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    height: 50px;
                    width: $widthAll/3;
                    display: inline-flex;
                    border: 1px solid red;
                    border-collapse: collapse;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}